html, body {
  font-family:$primary-font;
  font-size:16px;
  line-height:1.5;
  color:$dark-gray;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
}
h1, h2, h3, h4, h5, h6, h6, p {
  margin-top: 0;
  margin-bottom: 1em;
}
h1 {
  @include ms3;
  font-weight: normal;
}
h2 {
  @include ms2;
  font-weight: normal;
}
h3 {
  @include ms1;
}
h4 {
  @include ms0;
}
h5 {
  @include ms0;
  color:$middle-gray;
  text-transform:uppercase;
  letter-spacing: 0.5px;
}
h6 {
  @include ms-1;
  font-weight:bold;
}
a {
  color:$primary-accent;
  text-decoration:none;
  &.reverse-colors {
    color:#fff;
    &:hover {
      color:$primary-accent;
    }
  }
}
span {
  color: $dark-gray;
}
small {
  @include ms-1;
}
code {
  display: inline;
  margin: 0 0.25em;
  padding: 0.3em;
  border-radius: 4px;
  background: $lighter-gray;
}