/* ------ */
/* COLORS */
/* ------ */

// Grayscale
$off-white:#f4f4f4;
$lighter-gray:#e6e5e5;
$light-gray:#CCCCCC;
$middle-gray:#AAAAAA;
$dark-gray:#444444;

// Colors
$rose:#DD4343;
$dark-blue:#0A50A3;
$light-blue:#2F7AD0;

// Scheme
$primary-accent:$rose;
$primary-accent-light:lighten($rose,8%);
$primary-accent-hover:$primary-accent-light;
$second-accent:$dark-blue;
$second-accent-light:$light-blue;


/* ---------- */
/* TYPOGRAPHY */
/* ---------- */

// Fonts
$primary-font: "Lato", "Helvetica", sans-serif;

// Modular Scale, ratio of 1.25
@mixin ms-2 {
  font-size:.64em;
}
@mixin ms-1 {
  font-size:.8em;
}
@mixin ms0 {
  font-size:1em;
}
@mixin ms1 {
  font-size:1.25em;
}
@mixin ms2 {
  font-size:1.563em;
}
@mixin ms3 {
  font-size:1.953em;
}
@mixin ms4 {
  font-size:2.441em;
}
@mixin ms5 {
  font-size:3.052em;
}


/* ----------- */
/* BREAKPOINTS */
/* ----------- */

$tiny:400px;
$mobile:767px;
$tablet:1000px;
$laptop:1200px;
$desktop:1448px;


/* -------------------------- */
/* WIDTHS FOR THE "PAGE" AREA */
/* -------------------------- */

$small-page:400px;
$medium-page:800px;
$large-page: 900px;
$x-large-page:1100px;
