$ab-height: 9em;
$ab-height-short: 7em;

.action-bar-container {
  height: $ab-height;
  @media(max-width: $tablet) {
    height: $ab-height-short;
  }
  &.is-floating {
    .action-bar {
      position:fixed;
      top:0;
      left:0;
      right:0;
      height: $ab-height;
      background:#fff;
      box-shadow: 0 2px 5px rgba(0,0,0,.1);
      @media(max-width: $tablet) {
        height: $ab-height-short;
      }
    }
  }
}

.action-bar {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:1em 2em;
  border-top: 1px solid $off-white;
  height: $ab-height;
  @media(max-width: $tablet) {
    height: $ab-height-short;
    padding: 0 2em;
  }
  h4 {
    i {
      margin-left:.5em;
    }
  }
  h6 {
    margin:0;
  }
  p {
    margin-bottom:0;
    @media (max-width:$tablet) {
      @include ms-2;
    }
  }
  .flex-container {
    display:flex;
    align-items:stretch;
    justify-content:center;
    flex-direction:column;
    margin-right: 0.5em;
    flex-shrink:1;
    &:last-of-type {
      padding-right: 0;
    }
    &.pull-top {
      display:block;
    }
  }
  .fa-arrow-left {
    @include ms1;
    margin-right: 2.4em;
    cursor:pointer;
    &:hover {
      color:$primary-accent;
    }
  }
}

.action-bar-room-overview {
  .descriptions {
    display:flex;
    .flex-container {
      margin-right: 1em;
    }
    .editable-text-container {
      margin-bottom: 1em;
    }
    p {
      font-weight:bold;
    }
  }
  .controls {
    display:flex;
  }
  .seat-size {
    text-align:center;
    .seat-size-slider {
      display:flex;
      flex-wrap:nowrap;
      align-items:center;
      margin-bottom:.5em;
    }
    input {
      margin:0 .5em;
      max-width: 6em;
    }
    .smaller, .larger {
      display: inline-block;
      border: 2px solid lighten($dark-gray,20%);
      border-radius: 5px;
    }
    .smaller {
      height: 1.25em;
      width: 1.25em;
    }
    .larger {
      height: 3em;
      width: 3em;
    }
  }
  .continue-seating {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    p {
      font-style:italic;
      margin-top: 1em;
      @include ms-1;
    }
  }
}

.action-bar-edit-table {
  justify-content:flex-start;
  .point-selector {
    &.active {
      button {
        background: $off-white;
      }
      p {
        color:$primary-accent;
      }
      svg {
        circle {
          fill:$primary-accent;
        }
        path {
          stroke:$dark-blue;
        }
      }
    }
  }
  .nudge {
    .big-button {
      p {
        position: relative;
        top: 0.5em;
      }
    }
  }
  .seats-number {
    text-align:center;
    align-items:center;
    padding: .18em 0.5em;
    input {
      text-align:center;
      width:3em;
      @include ms2;
      margin-bottom:.25em;
      padding:  0.3em;
    }
    p {
      margin-bottom: 0;
      @include ms-1;
      line-height:1.15;
    }
  }
  .label-position {
    img {
      width:5.75em;
    }
    p {
      margin-top: 0;
      text-transform:capitalize;
    }
  }
  .save-controls {
    display:flex;
    align-items:center;
    margin-left:auto;
    .btn-clear {
      margin-right: 2em;
      .svg-inline--fa {
        @include ms0;
        position:relative;
        top:1px;
        margin-right:.5em;
      }
    }
  }
}

.action-bar-delete-table {
  p {
    margin-bottom: 0;
    font-style:italic;
  }
  a {
    button {
      @include ms-1;
    }
    .svg-inline--fa {
      margin-right:.5em;
    }
  }
}

.action-bar-offering-overview {
  display:flex;
  justify-content: space-between;
  .center {
    flex:1 0 auto;
    @media(max-width:$tablet) {
      flex:auto;
    }
  }
  .left, .right {
    flex:1 1 25%;
    @media(max-width:$tablet) {
      flex:auto;
    }
  }
  .left {
    @media(max-width:$tablet) {
      display:none;
    }
  }
  .right {
    text-align:right;
  }
  .click-an-empty-seat {
    display: flex;
    align-items:center;
    justify-content:center;
    @media(max-width:$tablet) {
      justify-content:flex-start;
    }
    i {
      @include ms2;
      margin-right:.5em;
      color:lighten($middle-gray,5%);
    }
    color:$middle-gray;
    font-style:italic;
    .empty-seat-icon {
      overflow:hidden;
      border-radius:5px;
      // border:2px solid $light-gray;
      rect {
        fill:$off-white;
        // stroke:$dark-gray;
        // stroke-width:2;
      }
      .plus-person {
        fill:$middle-gray;
      }
    }
    p {
      margin-left: 1em;
    }
  }

  .big-button {
    margin-right:1em;
    &:last-of-type {
      margin-right:0;
    }
  }
}

.action-bar-find-student {
  justify-content:flex-start;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  .input-container {
    position:relative;
    padding-right:2em;
    i {
      position:absolute;
      top:50%;
      left:12px;
      transform:translateY(-50%);
      color:$middle-gray;
    }
    input {
      padding:10px 0;
      padding-left:33px;
      width:19em;
      border:2px solid $light-gray;
      transition:box-shadow 125ms ease-out, border-color 125ms ease-out;
      &:focus {
        border-color:lighten($primary-accent,15%);
        box-shadow:0 0 10px $middle-gray;
      }
    }
  }
  .roster-container {
    display:flex;
    align-items:center;
    overflow-x:scroll;
    height:100%;
    width:100%;
    ul {
      display:flex;
      margin:0;
      height: 100%;
      li {
        display:inline-flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        padding:.75em;
        cursor:pointer;
        .picture {
          height:3em;
          width:3em;
          background-size:cover;
          background-position:center center;
          border-radius:4px;
        }
        p {
          margin-top: .5em;
          margin-bottom: 0;
          text-align:center;
          @include ms-1;
        }
        .short-name {
          display:block;
        }
        &:hover {
          background: $primary-accent;
          color: #fff;
        }
        &.no-results {
          justify-content: center;
          color:$middle-gray;
          background:none;
          cursor:default;
          font-style:italic;
        }
      }
    }
  }
}

.action-bar-student-details {
  justify-content:flex-start;
  .portrait {
    position: relative;
    height:100%;
    width:7em;
    margin-right:3em;
    background-size:cover;
    background-position:left;
    background-repeat:no-repeat;
    border-radius:4px;
    .change-portrait {
      position:absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
      display:flex;
      align-items: center;
      justify-content: center;
      background: rgba(255,255,255,.5);
      opacity:0;
      transition: opacity 200ms ease-out;
      cursor: pointer;
      .svg-inline--fa {
        transform: translateY(.3em);
        font-size:35px;
        color: $primary-accent;
        transition: opacity 200ms ease-out, transform 200ms ease-out;
      }
    }
    &:hover {
      .change-portrait {
        opacity: 1;
        .svg-inline--fa {
          transform: translateY(0)
        }
      }
    }
  }
  .flex-column {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    height:100%;
    min-width:10em;
    margin-right:2em;
    >div {
      margin-bottom: 1em;
    }
    p {
      position:relative;
    }
  }
  .ab-student-details__remove {
    display: inline-block;
    margin-left: 1em;
    @include ms-1;
    font-weight: bold;
    cursor: pointer;
    .svg-inline--fa {
      position: relative;
      top: 1px;
      @include ms1;
      margin-right: .5em;
    }
    &:hover {
      color: $primary-accent;
    }
  }
}

.ab-divider {
  height: $ab-height-short;
  width: 1px;
  background: $off-white;
  margin:0 0.75em
}