.create-student-body-roster {
  max-width: 40em;
  margin: 5em auto 0 auto;
  padding: 2em;
  h5 {
    text-align: center;
    margin-bottom: 2em;
  }
  label {
    margin-right: .5em;
  }
  footer {
    margin: 2em -2em 0 -2em;
    padding: 2em 2em 0 2em;
    border-top: 1px solid $off-white;
    text-align: right;
    a {
      color: #fff;
    }
  }
}