.errors-container {
  position:fixed;
  z-index: 999999999;
  top:1em;
  left:0;
  right:0;
  width:30em;
  margin:auto;
}
.error {
  display:flex;
  margin-bottom:1em;
  box-shadow:0 5px 15px rgba(0,0,0,.25);
  background: $dark-gray;
  color:#fff;
  .left, .right {
    flex:0 0 3em;
  }
  .left {
    display:flex;
    align-items:center;
    justify-content: center;
  }
  .right {
    position: relative;
    .fa-times {
      position: absolute;
      top:0;
      right:0;
      padding:.85em;
      cursor:pointer;
      color:$middle-gray;
      &:hover {
        color:$rose;
      }
    }
  }
  .center {
    flex:1 1 auto;
    padding:.7em 0;
    p {
      margin:0;
      font-style:italic;
    }
  }
}

.errors-container-enter {
  opacity:.01;
  transform:translateY(.25em);
}
.errors-container-enter-active, .errors-container-enter-done {
  opacity:1;
  transform:translateY(0);
  transition:all 200ms ease-out;
}
.errors-container-exit {
  opacity:1;
  transform:translateY(0);
}
.errors-container-exit-active {
  opacity:.01;
  transform:translateY(1em);
  transition:all 200ms ease-out;
}