.flash-cards-all-students {
  p {
    font-weight:bold;
  }
  .question {
    margin-bottom: 2em;
  }
  .controls {
    margin-top: 2em;
    border-top: 1px solid $off-white;
    text-align:right;
    &.with-padding {
      padding:2em;
    }
  }
}

.flash-cards-deck {
  display:block;
}

.flash-card {
  display:flex;
  justify-content:center;
  align-items:center;
  height:3in;
  width:5in;
  // border:1px dotted $light-gray;
  img {
    max-height:100%;
    width:auto;
  }
  &.back {
    flex-direction:column;
    text-align:center;
  }
}

.flash-card-same-side {
  display:flex;
  .left {
    padding-right:1em;
  }
  .left, .right {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex:0 0 50%;
    text-align:center;
  }
}