.site-footer {
  text-align: center;
  background: $off-white;
  p {
    @include ms-2;
    text-transform:uppercase;
    color:$middle-gray;
    letter-spacing: .5px;
    font-weight:bold;
    a {
      color: $middle-gray;
      &:hover {
        color: $primary-accent;
      }
    }
  }
}