.full-page-loading {
  display:flex;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  height:100%;
  width:100%;
  z-index:9999999;
  background:$off-white;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  .loading {
    margin-top: 2em;
  }
}