  .guides-container {
    .guide {
      position: relative;
      stroke:$middle-gray;
      stroke-width:1px;
      &.vert {
        transform:translateY(-13px);
      }
      &.horiz {
        transform:translateX(-13px);
      }
    }
  }