.import-section {
  margin-top: 4em;
  .download-links {
    display: inline-flex;
    align-items: center;
    margin-right: 3em;
    svg {
      margin-right: 0.5em;
    }
  }
  .import-form {
    margin: 3em 0 1.5em 0;
    button {
      position: relative;
      margin-right: 1em;
      span {
        color: white;
      }
      svg {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        color: white;
      }
      &.fetching {
        span {
          opacity: 0;
        }
        svg {
          opacity: 1;
        }
      }
    }
    .results {
      margin-top: 1em;
      &.results-enter {
        opacity: 0;
        max-height: 0;
      }
      &.results-enter-active, &.results-enter-done {
        opacity: 1;
        max-height: 4em;
        transition: opacity 300ms ease-out, max-height 300ms ease-out;
      }
      &.results-exit {
        opacity: 1;
        max-height: 4em;
      }
      &.results-exit-active {
        opacity: 0;
        max-height: 0;
        transition: opacity 300ms ease-out, max-height 300ms ease-out;
      }
    }
  }
  table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    th, td {
      padding: 0.5em;
      vertical-align: top;
      h5, p {
        margin-bottom: 0;
      }
    }
    th:nth-child(1) {
      min-width: 11em;
    }
    td {
      padding-bottom: 2em;
    }
    th:nth-child(1), th:nth-child(2) {
      padding-right: 2em;
    }
    tr:nth-child(odd) {
      background: #fafafa;
    }
  }
}