.loading {
  display:flex;
  align-items:center;
  justify-content:center;
  color:$middle-gray;
  opacity: 0.25;
  .fa-spinner-third {
    position:absolute;
    @include ms2;
    animation: spinFast .5s infinite linear;
  }
}

@keyframes spinFast {
  from { transform:rotate(0deg)}
  to { transform:rotate(360deg)}
}
