.loading {
  display:flex;
  align-items:center;
  justify-content:center;
  color:$middle-gray;
  i {
    position:absolute;
    @include ms4;
  }
}

.spin-fast {
  -webkit-animation: spin-fast .35s infinite linear;
  animation: spin-fast .35s infinite linear;
}

@keyframes spin-fast {
  from { transform:rotate(0deg)}
  to { transform:rotate(360deg)}
}
