.loading {
  display:flex;
  align-items:center;
  justify-content:center;
  color:$middle-gray;
  .fa-spinner-third {
    position:absolute;
    @include ms4;
    animation: spinFast .35s infinite linear;
  }
}

@keyframes spinFast {
  from { transform:rotate(0deg)}
  to { transform:rotate(360deg)}
}
