.nt-list__name-tent {
  position:relative;
  width: 11in;
  height: 8.5in;
  background: #fff;
  .name {
    position:absolute;
    left: 0.5in;
    right: 0.5in;
    bottom: 1.25in;
    text-align:center;
    span {
      font-size:120px;
    }
  }
}