.outer-page-container {
  flex:0 0 $x-large-page;
  margin-left: auto;
  margin-right: auto;
  margin-top:1.5em;
  transition:transform 500ms ease-out;
  @media(max-width:$desktop) {
    flex:auto;
    width:$x-large-page;
  }
  @media(max-width: $laptop) {
    width:$large-page;
  }
  @media(max-width: $tablet) {
    width:$medium-page;
  }
  &.offering-overview {
    @media (max-width:$desktop) {
      margin-top:0;
    }
  }
  &.flip-perspective {
    transform:rotateX(180deg);
  }
  .loading {
    display:none;
    position:absolute;
    top:15em;
    right:0;
    left:0;
    transform:translateX(5px);
  }
  .inner-page-container {
    display: block;
    position:relative;
    padding-bottom:64.7%; // default to tabloid aspect ratio
    transition:opacity 150ms ease-out, padding 500ms ease-out;
    box-shadow: 0 5px 5px rgba(0,0,0,.1), 0 18px 10px -12px rgba(0, 0, 0, 0.15);
    .tables-container, .seats-container, .grid-container, .guides-container {
      position:absolute;
      right:0;
      bottom:0;
      top:0;
      left:0;
      height:100%;
      width:100%;
      overflow:visible;
    }
    .tables-container>g {
      transform:translateX(11px);
    }
    .guides-container>g {
      transform:translateX(11px);
    }
    .grid-container>g {
      transform:translateX(11px);
    }
  }

  &.paper-tabloid .inner-page-container {
    padding-bottom:64.7%; // aspect ratio of 11 x 17 tabloid paper
  }
  &.paper-letter .inner-page-container {
    padding-bottom:77.3%; // aspect ratio of 8.5 x 11 letter paper
  }

  .page {
    position:absolute;
    height:100%;
    width:100%;
    transform:scale(.95);
  }

  &.edit-room-view {
    .seats-container {
      z-index:100;
      pointer-events:none;
    }
  }

  &.is-loading { // .outer-page-container.loading
    .loading {
      display:flex;
    }
    .inner-page-container {
      opacity:.5;
    }
  }

  .front-label {
    position:absolute;
    bottom:.35em;
    left:0;
    right:0;
    text-align:center;
    h3 {
      margin-bottom: 0;
      @include ms1-x2;
    }
  }

  .page-header-container {
    position:absolute;
    top:.3em;
    left:0;
    right:0;
    text-align:center;
    p {
      margin-bottom:.15em;
    }
    .page-header {
      display:flex;
      justify-content:space-between;
      @include ms-1-x2;
    }
    .left, .right {
      position: absolute;
      top:0;
    }
    .left {
      left:0;
      text-align:left;
    }
    .right {
      right:0;
      text-align:right;
    }
  }

  &.flip-perspective {
    .inner-page-container {
      box-shadow: 0 -5px 5px rgba(0,0,0,.1), 0 -18px 10px -12px rgba(0, 0, 0, 0.15);
    }
    .front-label h3 {
      transform:rotateX(180deg);
    }
    .page-header-container {
      bottom:0.3em;
      top:auto;
      transform:rotateX(180deg) translateY(-8px);
    }
  }

} // end .outer-page-container

.no-tables {
  font:italic 16px Lato;
  fill:$middle-gray;
  text-anchor:middle;
}


