.printable {
  background: #fff;
  .full-page-loading {
    display:none !important;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:100%;
    width:100%;
    z-index:9999999;
    background:#fff;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    .loading {
      margin-top: 2em;
    }
  }
  &.show-loading {
    // height:100%;
    // overflow:hidden;
    .full-page-loading {
      display:flex;
    }
    .outer-page-container {
      display:block;
    }
    canvas {
      display:block;
    }
  }
}