.room-workspace {
  display:flex;
  // justify-content:center;
  // flex-wrap:wrap;
  @media(max-width:$desktop) {
    flex-direction: column;
  }
  .room-workspace-left, .room-workspace-right {
    flex:1 1 25%;
    padding-top: 1.3em;
    p {
      position:relative;
      margin-bottom: 1em;
      right:-.45em;
      font-weight:bold;
      color:$middle-gray;
      @include ms-1;
    }
  }
  .room-workspace-left {
    padding-right:2em;
    @media (max-width:$desktop) {
      padding-right: 0;
      padding-top: 0;
    }
  }
  .room-workspace-right {
    padding-left:2em;
    @media (max-width:$desktop) {
      padding-left: 0;
    }
  }

  .chart-preferences {
    li {
      display:flex;
      align-items:center;
      margin-bottom: 1.5em;
      select {
        display:block;
      }
      i {
        margin-right: .5em;
        color: $middle-gray;
      }
      p {
        margin-bottom: 0;
      }
    }
    @media (max-width:$desktop) {
      padding:.75em 0;
      ul {
        display:flex;
        justify-content:space-around;
        margin:0;
        li {
          margin-bottom: 0;
        }
      }
    }
  }

  .offering-details {
    @media (max-width: $desktop) {
      display: block;
      text-align: center;
    }
  }

  .offering-details__room-details {
    text-align:right;
    margin-bottom: 2em;
    @media (max-width: $desktop) {
      text-align:center;
      margin-bottom: 1em;
      p {
        display: inline-block;
        &:first-of-type {
          margin-right: 2em;
        }
      }
    }
  }

  .offering-details__roster-gallery {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    margin-top:1.5em;
    @media (max-width: $desktop) {
      display:block;
      text-align:center;
      margin-top: 0;
      // justify-content: flex-end;
      // align-items: bottom;
    }
    .enrollment {
      margin-bottom:2em;
    }
    .seated, .unseated {
      text-align:right;
      margin-bottom: 2em;
      @media(max-width:$desktop) {
        text-align:center;
        max-width:$x-large-page;
        margin-left:auto;
        margin-right:auto;
      }
      @media (max-width:$laptop) {
        max-width:$large-page;
      }
      @media (max-width:$tablet) {
        max-width:$medium-page;
      }
    }
    ul {
      margin:0;
      li {
        display:inline-block;
        width:1.7em;
        overflow:visible;
        .picture {
          display:inline-block;
          height:2.25em;
          width:2.25em;
          border-radius:5px;
          border:2px solid $off-white;
          background-size:cover;
          background-position:center center;
        }
      }
    }
  }

  .workspace-message-container {
    position:relative;
    height:100%;
    h6 {
      text-align:center;
      text-transform:uppercase;
      color:$dark-gray;
      @include ms-1;
    }
    p {
      right:auto;
      font-weight:normal;
      font-style:italic;
      color:$dark-gray;
    }
    .message-icon {
      text-align:center;
      p {
        display:inline-flex;
        justify-content:center;
        align-items:center;
        @include ms0;
      }
    }
    .message-content {
      position:absolute;
      top:50%;
      padding:1em;
      background:$lighter-gray;
      border-radius:5px;
      transition: transform 300ms ease-out, opacity 300ms ease-out;
    }
    .message-enter {
      opacity:01;
      transform: translateY(-45%);
    }
    .message-enter-active, .message-enter-done {
      opacity:1;
      transform: translateY(-50%);
    }
    .message-exit-active {
      opacity:.01;
      transform: translateY(-45%);
    }
  }
}