.outer-room-container {
  max-width:800px;
  margin-left: auto;
  margin-right: auto;
  margin-top:1em;
  .loading {
    display:none;
    position:absolute;
    top:15em;
    right:0;
    left:0;
  }
  .inner-room-container {
    position:relative;
    left:5px;
    padding-bottom:64.7%; // maintain same aspect ratio as 11 x 17 tabloid paper
    transition:opacity 150ms ease-out;
    >svg {
      position:absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
      height:100%;
      width:100%;
      overflow:visible;
    }
  }
  .tables-container {
    z-index:100;
    .table {
      .table-path {
        stroke-width:8;
        stroke-linecap:round;
        fill:none;
        transition:stroke 75ms ease-out;
      }
      .seat {
        overflow:hidden;
        border-radius:5px;
        rect {
          fill:$light-gray;
        }
        .plus-person {
          fill:$dark-gray;
        }
        &.is-selected {
          rect {
            fill:$primary-accent;
          }
          .plus-person {
            fill:#fff !important;
          }
        }
      }
      &:hover {
        .table-path {
          stroke:$light-blue;
        }
      }
    }
  }
  .grid-container {
    z-index:90;
    .blip {
      position:absolute;
      fill:$lighter-gray;
      transform-origin:center;
      transition:transform 150ms ease-out;
    }
  }
  .guides-container {
    .guide {
      position: relative;
      stroke:#ccc;
      stroke-width:1px;
      &.vert {
        transform:translateY(-13px);
      }
      &.horiz {
        transform:translateX(-13px);
      }
    }
  }

  // common rules in Edit Room vievw
  &.edit-room, &.edit-table, &.choosing-a-point {
    margin-top:3em;
    .tables-container {
      .table {
        cursor:pointer;
        .seat {
          opacity:.5;
        }
      }
    }
  }

  &.edit-room { // .outer-room-container.edit-room
    .tables-container {
      .table {
        .table-path {
          stroke:$light-gray;
        }
        &:hover .table-path {
          stroke:$light-blue;
        }
      }
    }
  }

  &.edit-table { // .outer-room-container.edit-table
    .grid-container {
      z-index:1000;
      .blip {
        &.belongs-to-any-table {
          fill:darken($middle-gray,20%);
        }
        &.belongs-to-active-table {
          fill:$light-blue;
          transform:scale(2);
        }
        &.is-being-replaced {
          fill:$primary-accent !important;
          transform:scale(3);
        }
      }
    }
    .tables-container {
      .table {
        .table-path {
          opacity:.35;
          stroke:$middle-gray;
        }
      }
      .seat rect {
        fill:$light-gray;
      }
      .is-active {
        .table-path {
          opacity:1;
          stroke:$second-accent;
        }
        .seat rect {
          fill:$middle-gray;
        }
      }
    }

    &.choosing-a-point {
      .blip {
        cursor:pointer;
        &:hover {
          fill:$dark-gray;
        }
      }
    }
  } // end .outer-room-container.edit-table

  // common rules across seating students view
  &.offering-overview, &.find-student, &.student-details {
    .tables-container {
      .table {
        .table-path {
          stroke:$lighter-gray;
        }
      }
      .seat {
        cursor:pointer;
        &:hover {
          .plus-person {
            fill:$rose;
          }
        }
      }
    }
  }

  &.offering-overview { // outer-room-container.offering-overview

  }

  &.is-loading { // .outer-room-container.loading
    .loading {
      display:flex;
    }
    .inner-room-container {
      opacity:.5;
    }
  }
}

.room-label {
  position:relative;
  text-align:center;
}

.room-header {
  display:flex;
  justify-content:space-between;
  p {
    @include ms-1;
    font-weight:bold;
    margin-bottom: 0;
    color:$middle-gray;
  }
}