.outer-room-container {
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  .loading {
    display:none;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
  }
  .inner-room-container {
    position:absolute;
    top:6em;
    right:6em;
    left:6em;
    bottom:6em;
    transition:opacity 150ms ease-out;
    >svg {
      position:absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
      height:100%;
      width:100%;
      overflow:visible;
    }
  }
  .tables-container {
    z-index:100;
    .table {
      path {
        stroke:$light-blue;
        stroke-width:8;
        stroke-linecap:round;
        fill:none;
        cursor:pointer;
        &:hover {
          stroke:darken($light-blue, 15%);
        }
      }
    }
    .seat {
      overflow:visible;
      rect {
        fill:$middle-gray;
      }
    }
  }

  .grid-container {
    z-index:90;
    .blip {
      position:absolute;
      fill:$light-gray;
      transform-origin:center;
      transition:transform 150ms ease-out;
    }
  }

  .guides-container {
    .guide {
      position: relative;
      stroke:#ccc;
      stroke-width:1px;
      &.vert {
        transform:translateY(-13px);
      }
      &.horiz {
        transform:translateX(-13px);
      }
    }
  }

  &.edit-table { // .outer-room-container.edit-table
    .grid-container {
      z-index:1000;
      .blip {
        &.belongs-to-any-table {
          fill:$dark-gray;
        }
        &.belongs-to-active-table {
          fill:$dark-blue;
          transform:scale(2);
        }
        &.is-being-replaced {
          fill:$primary-accent !important;
          transform:scale(3);
        }
      }
    }
    .tables-container {
      .table {
        path {
          opacity:.35;
          stroke:$middle-gray;
        }
      }
      .seat rect {
        fill:$light-gray;
      }
      .is-active {
        path {
          opacity:1;
          stroke:$second-accent;
        }
        .seat rect {
          fill:$middle-gray;
        }
      }
    }
    &.choosing-a-point {
      .blip {
        cursor:pointer;
        &:hover {
          fill:$dark-gray;
        }
      }
    }
  }
  &.loading { // .outer-room-container.loading
    .loading {
      display:flex;
    }
    .inner-room-container {
      opacity:.5;
    }
  }
}

.room-label {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  text-align:center;
}