// Sizes are doubled to double the resolution
$paper-width: 17in; // 8.5 x 2
$paper-height: 22in; // 11 x 2
$paper-padding: 2in; // (.5 + .5) * 2 (left + right padding)
$roster-row-width: 5in; // page width minus padding divided by number of columns (3)

.printable-roster {
  width: $paper-width;
  height: $paper-height;
  overflow: scroll;
  header {
    width: $roster-row-width;
    padding-bottom: 4em; // 2 x 2
    border-bottom: 1px solid $light-gray;
    .class-title {
      display: block;
      margin-bottom: 0;
      @include ms3;
      font-weight: bold;
    }
    span {
      display: block;
      @include ms2;
    }
  }
  .roster-row {
    display: flex;
    width: $roster-row-width;
    align-items: center;
    border: 1px solid $light-gray;
    span {
      display: block;
      @include ms2;
    }
  }
  .roster-row__picture {
    flex: 0 0 40%;
    height: 14em; // 7 x 2
    background-size: cover;
    background-position: center;
  }
  .roster-row__info {
    flex: auto;
    padding:0 .5em;
    .details {
      @include ms1;
      overflow-wrap: break-word;
      word-break: break-all
    }
  }
}