// 8.5, minus 1 inch (half in padding on each side),
// then divided by 3 for the columns.
$roster-row-width: 2.5in;

.printable-roster {
  width: 8.5in;
  height: 11in;
  overflow: scroll;
  header {
    width: $roster-row-width;
    padding-bottom: 2em;
    border-bottom: 1px solid $light-gray;
    .class-title {
      display: block;
      margin-bottom: 0;
      @include ms0;
      font-weight: bold;
    }
    span {
      display: block;
      @include ms-2;
    }
  }
  .roster-row {
    display: flex;
    width: $roster-row-width;
    align-items: center;
    border: 1px solid $light-gray;
    span {
      display: block;
    }
  }
  .roster-row__picture {
    flex: 0 0 40%;
    height: 7em;
    background-size: cover;
    background-position: center;
  }
  .roster-row__info {
    flex: auto;
    padding:0 .5em;
    .details {
      @include ms-2;
      overflow-wrap: break-word;
      word-break: break-all
    }
  }
}