.seating-chart {
  display:flex;
  .outer-page-container {
    // once we remove .show-loading from .seating-chart, hide this so user
    // just sees a blank screen (and will close the tab)
    display:none;
    flex:0 0 17in !important;
    margin-top:0;
  }
  canvas {
    display:none;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
  }
}