.seating-chart {
  display:flex;
  .outer-page-container {
    // once we remove .show-loading from .seating-chart, hide this so user
    // just sees a blank screen (and will close the tab)
    display:none;

    margin-top:0;
    // all widths are doubled to increase resolution!
    &.paper-tabloid {
      flex:0 0 35in;
    }
    &.paper-letter {
      flex: 0 0 22in;
    }
  }
  .original-canvas {
    display:none;
  //   // width:3360px;
  //   // height:2173px;
  //   // position:absolute;
  //   // top:0;
  //   // right:0;
  //   // left:0;
  //   // bottom:0;
  }
}