.seats-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow:hidden;
  border-radius:5px;
  .seat-container {
    display:inline-block;
    position:absolute;
    text-align:center;
    &.is-active {
      .seat {
        transform:scale(1.25);
      }
      rect {
        fill:$primary-accent;
      }
      .plus-person {
        fill:#fff !important;
      }
    }
  }
  .seat {
    position:relative;
    display:inline-block;
    width:100%;
    height:100%;
    transition:transform 200ms ease-out;
    &.empty-seat .picture {
      background:#fff;
      border:8px solid $light-gray;
    }
    &.is-current-student {
      transform:scale(1.25);
    }
  }
  .picture {
    display:inline-block;
    border-radius:8px;
    background-size:cover;
    background-position:center;
    overflow:hidden;
    >svg {
      overflow:visible;
    }
    rect {
      fill:$light-gray;
    }
    .plus-person {
      fill:$dark-gray;
    }
  }
  .name {
    display:flex;
    position:absolute;
    left:0;
    right:0;
    margin:0 -1em;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    line-height:1;
    padding:.15em;
  }
  .seat-container {
    &.label-below .name {
      top:100%;
      transform:translateY(.1em);
    }
    &.label-above .name {
      bottom:100%;
      transform:translateY(-.25em);
    }
    &.label-right .name {
      align-items:flex-start;
      top:50%;
      left:100%;
      transform:translate(1.25em, -50%);
      text-align:left;
    }
    &.label-left .name {
      align-items:flex-end;
      top:50%;
      right:100%;
      transform:translate(-1.25em, -50%);
      text-align:right;
    }
  }
}

.outer-page-container.edit-room-view .seats-container {
  .seat {
    opacity:.5;
  }
}

.outer-page-container.edit-table .seats-container {
  .seat rect {
    fill:$light-gray;
  }
}

.outer-page-container.assign-seats-view .seats-container {
  .seat {
    cursor:pointer;
    &:hover {
      .plus-person {
        fill:$rose;
      }
    }
  }
}

// flip the seats back to normal if the page is flipped
.outer-page-container.flip-perspective .seat-container .seat {
  transform:rotateX(180deg);
}
.outer-page-container.flip-perspective .seat-container.is-active .seat {
  transform:scale(1.25) rotateX(180deg);
}

// set font size according to paper size
.paper-tabloid .inner-page-container .seat-container .seat {
  .name {
    @include ms0-x2;
  }
  &.font-smaller .name {
    @include ms-1-x2;
  }
  &.font-larger .name {
    @include ms1-x2;
  }
  &.font-largest .name {
    @include ms2-x2;
  }
}
.paper-letter .inner-page-container .seat-container .seat {
  .name {
    @include ms-1-x2;
  }
  &.font-smaller .name {
    @include ms-2-x2;
  }
  &.font-larger .name {
    @include ms0-x2;
  }
  &.font-largest .name {
    @include ms1-x2;
  }
}
