.select-list {
  position: relative;
  margin-top: 5em;
  .loading {
    display:none;
    position:absolute;
    top:5em;
    left:0;
    right:0;
    text-align:center;
    i {
      position:relative;
    }
  }
  header {
    text-align:center;
    padding:2em;
    p {
      margin-bottom: 0;
    }
    h5 {
      margin:0;
      transition:opacity 75ms ease-out;
    }
    .filter-controls {
      display:flex;
      justify-content:space-between;
      margin-top: 2em;
    }
    .semester-dropdown-container {
      display:flex;
      align-items:center;
      p {
        // @include ms-1;
        margin-right:.5em;
      }
    }
  }
  ul {
    margin:0;
    li {
      position:relative;
      a {
        display: block;
        padding:1.5em 3.5em 1.5em 2em; // weird to make space for caret
        border-top: 1px solid $off-white;
        h4 {
          display:block;
          text-transform:capitalize;
          color:$dark-gray;
          margin-bottom:0;
        }
        p {
          margin-bottom: 0;
          color:$dark-gray;
        }
      }
      i {
        position:absolute;
        right:1.5em;
        top:50%;
        transform:translateY(-50%);
        color:$middle-gray;
      }
      &:hover {
        h4, p, i {
          color:$primary-accent;
        }
      }
    } /* end li */
  }
}

.room-list, .offering-list {
  &.is-loading {
    .loading {
      display:block;
      z-index:999999;
    }
    header {
      opacity:.15
    }
    ul {
      opacity:.25;
    }
  }
}

.offering-list {

}