.select {
  position: relative;
  margin-top: 5em;
  .loading {
    display:none;
    position:absolute;
    top:5em;
    left:0;
    right:0;
    text-align:center;
    i {
      position:relative;
    }
  }
  header {
    text-align:center;
    padding:2em;
    p {
      margin-bottom: 0;
    }
    h5 {
      margin:0;
      transition:opacity 75ms ease-out;
    }
    .filter-controls {
      display:flex;
      justify-content:space-between;
      margin-top: 2em;
    }
    .semester-dropdown-container {
      display:flex;
      align-items:center;
      p {
        margin-right:.5em;
      }
    }
  }
  ul {
    margin:0;
    li {
      position:relative;
      a {
        display: block;
        padding:1.5em 3.5em 1.5em 2em; // weird to make space for caret
        border-top: 1px solid $off-white;
        h4 {
          display:block;
          color:$dark-gray;
          margin-bottom:0;
          .fa-plus-circle {
            margin-right: .5em;
          }
        }
        p {
          margin-bottom: 0;
          color:$dark-gray;
          @include ms-1;
        }
        .meta {
          @include ms-2;
          font-style: italic;
          opacity: .75;
        }
      }
      .fa-chevron-right {
        position:absolute;
        right:1.5em;
        top:50%;
        transform:translateY(-50%);
        color:$middle-gray;
        pointer-events:none;
      }
      &:hover {
        h4, p, .meta, .svg-inline--fa {
          color:$primary-accent;
        }
      }
    } /* end li */
  }
}

.select>div {
  &.is-loading {
    .loading {
      display:block;
      z-index:999999;
    }
    header {
      opacity:.15
    }
    .content {
      opacity:.2
    }
  }
}

.select__no-classes-found {
  padding:1.5em 3.5em 1.5em 2em; // weird to make space for caret
}

.select__recent-offerings {
  padding-left: 2em;
  h6 {
    text-transform:uppercase;
    margin-bottom: .5em;
  }
  ul {
    margin-left: 1.7em;
    margin-bottom: 1em;
    li {
      a {
        padding:.25em;
        border:0;
        color:$dark-gray;
        font-weight:bold;
        @include ms-1;
        &:hover {
          color: $primary-accent;
        }
      }
    }
  }
}
