.settings-page {
  margin-top: 5em;
  padding: 2em;
  .form-question {
    display:flex;
    padding: 0;
    padding-bottom: 2em;
    border-bottom: 1px solid $off-white;
    .setting-icon {
      @include ms2;
      color: lighten($dark-gray, 15%);
      padding-right: 1em;
    }
    input[type="text"] {
      padding: .75em;
    }
  }
  .controls {
    margin: 0 -2em;
    padding: 0 2em 0 2em;
    border-top: none;
  }
}