button {
  background:none;
  width:auto;
  padding:0;
  border:0;
  cursor:pointer;
  border-radius:3px;
  padding:.8em 1.5em;
  color:$dark-gray;
  font-weight:bold;
  @include ms0;
  &:hover {
    background: none;
    color:$primary-accent;
  }
}

.btn-accent {
  background: $primary-accent;
  color:#fff;
  @include ms-1;
  font-size:12.8px;
  &:hover {
    color:#fff;
    background:$primary-accent-hover;
  }
}

.btn-clear {
  &:hover {
    background: $off-white;
  }
}