.input-container {
  position:relative;
  padding-right:2em;
  .svg-inline--fa {
    position:absolute;
    top:50%;
    left:12px;
    transform:translateY(-50%);
    color:$middle-gray;
  }
  &.input-container-enter {
    transform:translateX(1em);
  }
  &.input-container-enter-active, .input-container-enter-done {
    transform:translateX(0);
    transition:transform 300ms ease-out;
  }
}

input[type='text'], input[type='number'] {
  color:$dark-gray;
  border-radius:3px;
  // border:1px solid $light-gray;
  // padding:.25em .25em;
  padding:10px 0;
  padding-left:33px;
  width:19em;
  border:2px solid $light-gray;
  transition:box-shadow 125ms ease-out, border-color 125ms ease-out;
  &:focus {
    border-color:lighten($primary-accent,15%);
    box-shadow:0 0 10px $middle-gray;
  }
}

input[type='radio'] {
  margin:0 .5em 1em .35em;
}

input[type='checkbox'] {
  margin-right: 0.5em;
}

form {
  .form-question {
    padding:0 2em;
    margin-bottom: 2em;
    .question-name {
      margin:0 0.5em .5em 0;
      font-weight:bold;
      .svg-inline--fa {
        margin-right: 0.5em;
      }
    }
  }
  .controls {
    margin-top: 2em;
    border-top: 1px solid $off-white;
    text-align:right;
    &.with-padding {
      padding:2em;
    }
  }
}
